# Functions

In [255]:
def analyze_match(match):
    points = match["pbp"]
    pbp_id = match["pbp_id"]
    points += "."
    data = {}

    # server1, server2
    servers = [1, -1]
    # serves won, serves total, service games won, service games total, sets won, tiebreaks won
    metrics = ["points", "games", "sets"]
    
    for server in servers:
        for metric in metrics:
            data[(server, metric)] = 0
    
    p = 0
    server = 1
    # points so far, p1 points, p2 points, p1 games, p2 games, p1 sets, p2 sets, server
    # pbp_id, data[(1,"points")], data[(-1,"points")], data[(1,"games")], data[(-1,"games")], data[(1,"sets")], data[(-1,"sets")], server
    point_by_point = np.array([[pbp_id, 0, 0, 0, 0, 0, 0, 1]])
    last_point_winner = 0
    while p < len(points):
        if points[p] == "S" or points[p] == "A":
            current_score = [pbp_id, data[(1,"points")], data[(-1,"points")], data[(1,"games")], data[(-1,"games")], data[(1,"sets")], data[(-1,"sets")], server]
            point_by_point = np.vstack([point_by_point, current_score])
            # server won the point
            data[(server, "points")] += 1
            last_point_winner = server
            if data[(server, "points")] == 4 and data[(server*-1, "points")] == 4:
                data[(server, "points")] = 3
                data[(server*-1, "points")] = 3
        elif points[p] == "R" or points[p] == "D":
            current_score = [pbp_id, data[(1,"points")], data[(-1,"points")], data[(1,"games")], data[(-1,"games")], data[(1,"sets")], data[(-1,"sets")], server]
            point_by_point = np.vstack([point_by_point, current_score])
            # returner won the point
            data[(server*-1, "points")] += 1
            last_point_winner = server * -1
            if data[(server, "points")] == 4 and data[(server*-1, "points")] == 4:
                data[(server, "points")] = 3
                data[(server*-1, "points")] = 3
        elif points[p] == ";":
            # end of the game
            if last_point_winner == server:
                data[(server, "games")] += 1
            else:
                data[(server*-1, "games")] += 1
            data[(server, "points")] = 0
            data[(server*-1, "points")] = 0
            server *= -1
            
        elif points[p] == ".":
            # set finished, not in tiebreak
            if last_point_winner == server:
                data[(server, "sets")] += 1
            else:
                data[(server * -1, "sets")] += 1
            data[(server, "points")] = 0
            data[(server*-1, "points")] = 0
            data[(server, "games")] = 0
            data[(server*-1, "games")] = 0
            server *= -1
            

            
        elif points[p] == "/":
            # Entered tiebreak
            next_set_server = server * -1
            while p < len(points) and points[p] != ".":
                if points[p] == "/":
                    server *= -1
                elif points[p] == "S" or points[p] == "A":
                    current_score = [pbp_id, data[(1,"points")], data[(-1,"points")], data[(1,"games")], data[(-1,"games")], data[(1,"sets")], data[(-1,"sets")], server]
                    point_by_point = np.vstack([point_by_point, current_score])
                    
                    # server won the point
                    data[(server, "points")] += 1
                    last_point_winner = server
                    if data[(server, "points")] == 7 and data[(server*-1, "points")] == 7:
                        data[(server, "points")] = 6
                        data[(server*-1, "points")] = 6
                elif points[p] == "R" or points[p] == "D":
                    current_score = [pbp_id, data[(1,"points")], data[(-1,"points")], data[(1,"games")], data[(-1,"games")], data[(1,"sets")], data[(-1,"sets")], server]
                    point_by_point = np.vstack([point_by_point, current_score])
                    
                    data[(server*-1, "points")] += 1
                    last_point_winner = server * -1
                    if data[(server, "points")] == 7 and data[(server*-1, "points")] == 7:
                        data[(server, "points")] = 6
                        data[(server*-1, "points")] = 6
                p += 1
            
            data[(last_point_winner, "sets")] += 1
            data[(server, "points")] = 0
            data[(server*-1, "points")] = 0
            data[(server, "games")] = 0
            data[(server*-1, "games")] = 0
            server = next_set_server
        p += 1
        
    
    
    return point_by_point[1:]

In [256]:
from scipy.special import loggamma
from scipy.optimize import fsolve


def sigmoid(theta, x):
    return 1 / (1 + math.e**(-theta.dot(x)))

def compute_lloss(theta, X, y):
    res = 0
    for i in range(len(y)):
        if y[i] == 1:
            res += np.log(sigmoid(theta, X[i]))
        else:
            res += np.log(1 - sigmoid(theta, X[i]))
            
    return (-res / len(y))

def compute_current_objective_value(theta, X, y, penal):
    res = 0
    for i in range(len(y)):
        if y[i] == 1:
            res += np.log(sigmoid(theta, X[i]))
        else:
            res += np.log(1 - sigmoid(theta, X[i]))
            
    return (-res / len(y)) + (penal * np.linalg.norm(theta, ord=1))

def backtracking_line_search(theta, gamma, grad, X, y, penal):
    

    
    alpha=1
    tau = 0.6
    c = 0.05
    t = -c*gamma.dot(grad)
    current_obj = compute_current_objective_value(theta,X,y,penal)
    print(f"current_obj: {current_obj}")
    print(f"theta: {theta}")
    while True:
        candidate_obj = compute_current_objective_value(theta+(alpha*gamma), X,y,penal)
        print(f"theta: {theta+(alpha*gamma)}")
        print(f"alpha: {alpha}")
        print(f"candidate_obj: {candidate_obj}, current_obj: {current_obj}")
        if current_obj - candidate_obj >= alpha*t - 0.000000001:
            break
        alpha = tau*alpha
    return alpha
        

def irls_lars(matches, feature_cols, outcome_col, max_iterations, tol, penal):
    
    theta = np.array([0]*len(feature_cols))
    X = matches[feature_cols].to_numpy()
    # X_T = X.transpose()
    y = matches[outcome_col].to_numpy()
    prev_objective_value = None
    
    for _ in range(max_iterations): 
        print()
        print(f"iteration {_}")
        # compute lambda_(i,i) and z_i
        diag_vals = []
        y_tilde = []
        X_tilde = []
        grad = [0]*len(feature_cols)
        for i in range(len(X)):
            lambda_ii = sigmoid(theta, X[i]) * (1 - sigmoid(theta, X[i]))
            z_i = sigmoid(theta, X[i]) + ((1 - sigmoid(y[i]*theta, X[i]))*(y[i])) / lambda_ii
            
            y_tilde.append((lambda_ii**0.5) * z_i)
            X_tilde.append((lambda_ii**0.5)*X[i])
            grad += (1 - sigmoid(y[i]*theta,X[i]))*y[i]*X[i]
        
        y_tilde = np.array(y_tilde)
        X_tilde = np.array(X_tilde)
        
        reg = linear_model.Lasso(alpha=penal)
        reg.fit(X_tilde, y_tilde)
        gamma = np.array(reg.coef_)
        print(f"gamma: {gamma}")
        
        grad = np.array(grad)
        # do backtracking line search to move efficiently towards optimum theta
        alpha_line_search = backtracking_line_search(theta, gamma, grad, X, y, penal)
        print(f"alpha_line_search: {alpha_line_search}")
        # update theta
        theta = theta + alpha_line_search*gamma
        
        # check stopping criterion
        candidate_obj = compute_current_objective_value(theta, X, y,penal)
        if prev_objective_value is not None and np.abs(prev_objective_value - candidate_obj) < tol:
            return {"success": True, "obj": candidate_obj, "theta": theta}
        else:
            prev_objective_value = candidate_obj
            print(f"obj_val: {prev_objective_value}")
            print(f"theta: {theta}")
            
    return {"success": False, "obj": candidate_obj, "theta": theta}

In [257]:
import math
def number_win_in_k_most_recent_matches(match, k):
    a = float("nan")
    b = float("nan")
    
    if type(match["p1 year match results"]) == str and len(match["p1 year match results"]) >= k:
        i = 0
        a = 0
        while i < k:
            if match["p1 year match results"][len(match["p1 year match results"]) - 1 - i] == "W":
                a += 1
            i += 1
            
            
    if type(match["p2 year match results"]) == str and len(match["p2 year match results"]) >= k:
        i = 0
        b = 0
        while i < k:
            if match["p2 year match results"][len(match["p2 year match results"]) - 1 - i] == "W":
                b += 1
            i += 1
            
    return a,b

In [258]:
def generate_features(match, feature_cols):
    res = []
    for feature in feature_cols:
        feature_arr = feature.split("-")
        res.append(match[feature_arr[0]] - match[feature_arr[1]])
    return tuple(res)

In [7]:
np.diag([0,1,4]) ** 0.5

NameError: name 'np' is not defined

In [259]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from scipy.stats import beta
from multiprocessing import Pool, freeze_support
import math
pd.set_option("display.max_columns", None)

In [41]:
# import the markov model functions lazily
%run Modeling_tennis_match_iid_points.ipynb

0.69881
0.933139

In [42]:
matches = pd.read_csv("./data/2011-2015_matches_cleaned_forShrinkage.csv")
matches["date"] = matches.apply(lambda x: datetime.strptime(x["date"], '%Y-%m-%d'), axis=1)
matches

,pbp_id,date,tny_name,tour,draw,server1,server2,winner,pbp,score,adf_flag,wh_minutes,p1 serves won,p1 serves total,p1 service games won,p1 service games total,p1 sets won,p1 tiebreaks won,p2 serves won,p2 serves total,p2 service games won,p2 service games total,p2 sets won,p2 tiebreaks won,sets total,tourney serves won,tourney serves total,tourney service games won,tourney service games total,p1 serve win rate,p1 return win rate,p1 service game win rate,p1 return game win rate,p1 set win rate,p1 tiebreak win rate,p2 serve win rate,p2 return win rate,p2 service game win rate,p2 return game win rate,p2 set win rate,p2 tiebreak win rate,p1 opp serve win rate,p1 opp return win rate,p1 opp service game win rate,p1 opp return game win rate,p1 opp set win rate,p1 opp tiebreak win rate,p2 opp serve win rate,p2 opp return win rate,p2 opp service game win rate,p2 opp return game win rate,p2 opp set win rate,p2 opp tiebreak win rate,p1 match count,p2 match count,all player year serve win rate,all player year service game win rate,p1 year serve total,p1 year return total,p1 year service game total,p1 year return game total,p1 year set total,p1 year tiebreak total,p2 year serve total,p2 year return total,p2 year service game total,p2 year return game total,p2 year set total,p2 year tiebreak total,p1 year match win rate,p2 year match rate,p1 year match results,p2 year match results,p1 opp match win rate,p2 opp match win rate,p1 relative serve,p2 relative serve,p1 relative return,p2 relative return,p1 relative service games,p2 relative service games,p1 relative return games,p2 relative return games,p1 relative set,p2 relative set,p1 relative tiebreak,p2 relative tiebreak,tourney serve win rate,tourney return win rate,tourney service game win rate,tourney return game win rate,p1 tourney serve adv,p1 tourney return adv,p2 tourney serve adv,p2 tourney return adv,p1 tourney service game adv,p1 tourney return game adv,p2 tourney service game adv,p2 tourney return game adv,p1 tourney set adv,p2 tourney set adv,p1 tourney tiebreak adv,p2 tourney tiebreak adv,tourney sets to win,p1 serve_tt,p1 service_game_tt,p1 set_tt,p1 tiebreak_tt,p2 serve_tt,p2 service_game_tt,p1 serve_tt no sos adjust,p2 serve_tt no sos adjust,p1 service_game_tt no sos adjust,p2 service_game_tt no sos adjust
0,2231275,2011-07-28,ATPStu,ATP,Main,Olivier Rochus,Fabio Fognini,2,SSSS;RRRR;SSRRSS;SSRRSS;RSRSRSRR;SSRSS;RSRRSR;...,6-4 6-1,0,66,27,58,3,9,0,0,32,56,6,8,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,2,2,2,2,0,0,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2231276,2011-07-28,ATPStu,ATP,Main,Robin Haase,Marin Cilic,2,SSRSS;RRSSRSSS;SSSS;RSSSS;SRSRSS;RSRSRSSS;RSRS...,4-6 6-4 6-3,0,141,60,102,11,15,1,0,60,92,12,14,2,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,2,2,2,2,0,0,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2231342,2011-07-28,Farmer,ATP,Main,Alejandro Falla,Thomaz Bellucci,2,SRRSSRSRRSRSRSRSRSRR;SSSRS;RRSRR;SRSSS;RRSSRR;...,6-0 6-1,0,42,21,55,1,7,0,0,26,37,6,6,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,2,2,2,2,0,0,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2229262,2011-07-28,Credit,ATP,Main,Matthias Bachinger,Julien Benneteau,2,SSSS;SSSS;RRRR;SSSS;SSSS;SRRRSSRSSRRSSRSS;SSSS...,6-4 6-4,0,57,36,59,7,10,0,0,43,58,9,10,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,2,2,2,2,0,0,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2228887,2011-07-28,Credit,ATP,Main,Stan Wawrinka,Peter Luczak,1,SSSS;RRSSSS;SRSSRS;RRSSSS;SSSRS;SSSRRS;RSSSS;R...,6-3 7-5,0,82,43,58,10,11,2,0,34,61,7,10,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,2,2,2,2,0,0,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10782,8628374,2015-12-18,Men'sAustralianOpenWildCardPlayoff,ATP,Main,James Duckworth,Marinko Matosevic,1,SSSS;RSRSRSSS;SSSS;RSSRSS;SRSRRSRR;SRRRSSRR;SS...,4-6 6-3 7-6(7) 7-6(8),0,199,103,154,18,22,3,2,93,146,17,21,1,0,4,564.0,879.0,112.0,147.0,0.635690,0.335260,0.792208,0.169935,0.477612,0.500000,0.575717,0.348559,0.685345,0.188034,0.301887,0.142857,0.625203,0.364778,0.758255,0.178435,0.414046,0.454246,0.629896,0.374191,0.766704,0.191251,0.436469,0.379723,21,19,0.641567,0.797852,2023,1903,308,306,67,20,1499,1423,232,234,53,7,0.210526,0.575717,WWLWLWLWLWWLLWLWLLLLW,LLWLLWLWLLLLLLLLLLW,0.40433,0.450411,0.000467,-0.050092,-0.039537,-0.021544,-0.029357,-0.123404,-0.071810,-0.045262,-0.108342,-0.261644,-0.045754,-0.477420,0.641638,0.358362,0.761905,0.238095,0.642106,0.318825,0.591546,0.336817,0.732548,0.166285,0.638501,0.192833,0.391658,0.238356,0.454246,0.022580,3,0.779374,0.919775,0.672908,0.972994,0.755754,0.898535,0.765322,0.729030,0.942736,0.914083
10783,8625517,2015-12-18,Men'sS,ATP,Main,Jesse Huta Galung,Matwe Middelkoop,2,SSRSS;RSSSS;RRRSSR;RRRR;RRSRR;SSRRSRSS;SSRRSS;...,6-4 6-3,0,70,31,54,6,10,0,0,41,65,8,9,2,0,2,461.0,771.0,87.0,124.0,0.621951,0.313187,0.724138,0.100000,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.700937,0.346911,0.829079,0.221165,0.564946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0.641567,0.797852,164,182,29,30,8,2,0,0,2,2,2,2,NaN,NaN,LL,NaN,NaN,NaN,-0.031138,NaN,0.014124,NaN,-0.054697,NaN,-0.070921,NaN,-0.185054,NaN,NaN,NaN,0.597925,0.402075,0.701613,0.298387,0.566787,0.416199,NaN,NaN,0.646916,0.227466,NaN,NaN,0.314946,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10784,8625520,2015-12-18,Men'sS,ATP,Main,Tallon Griekspoor,Robin Haase,2,SSSRS;SSSRRRSS;RSRSSRRR;RSSSS;SRSRRR;SSSRS;SRS...,6-2 6-3,0,63,38,71,5,9,0,0,35,47,8,8,2,0,2,461.0,771.0,87.0,124.0,0.666667,0.520000,0.800000,0.600000,0.750000,NaN,0.622655,0.342847,0.771739,0.186296,0.444444,0.500000,0.480000,0.340000,0.320000,0.160000,0.125000,NaN,0.640685,0.360862,0.791987,0.194391,0.488360,0.409366,1,34,0.641567,0.797852,51,50,10,10,4,2,2878,2838,460,467,99,16,0.411765,0.622655,W,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLL,NaN,0.484743,0.006667,-0.016483,0.000000,-0.016467,-0.040000,-0.033870,-0.080000,-0.021718,-0.125000,-0.067195,NaN,-0.090634,0.597925,0.402075,0.701613,0.298387,0.604591,0.402075,0.581441,0.385608,0.661613,0.218387,0.667743,0.276669,0.375000,0.432805,NaN,0.409366,2,0.708982,0.836380,0.440185,NaN,0.673821,0.877942,0.793111,0.603672,0.945862,0.692683
10785,8632913,2015-12-19,Men'sS,ATP,Main,Jasper Smit,Matwe Middelkoop,2,SRRRR;SSSS;SRRSSS;RRRSSSSS;RSSSS;RRRSR;SRRSRSR...,6-4 6-7(6) 6-3,0,109,62,93,12,15,1,1,68,98,15,16,2,0,3,606.0,1008.0,114.0,160.0,0.675676,0.411111,0.733333,0.333333,0.600000,NaN,0.630769,0.425926,0.818182,0.416667,0.750000,NaN,0.627586,0.314379,0.624000,0.277333,0.342857,NaN,0.610092,0.394737,0.566434,0.076923,0.100000,NaN,1,1,0.641537,0.797829,74,90,15,15,5,2,65,54,11,12,4,2,1.000000,0.630769,W,W,NaN,NaN,-0.009945,0.025506,0.038697,0.036018,0.010667,-0.104895,-0.042667,-0.016900,-0.057143,-0.150000,NaN,NaN,0.601190,0.398810,0.712500,0.287500,0.591245,0.437507,0.626697,0.434827,0.723167,0.244833,0.607605,0.270600,0.442857,0.350000,NaN,NaN,2,0.652784,0.875643,0.596154,NaN,0.683382,0.826872,0.737393,0.709899,0.793814,0.900000
10786,8634739,2015-12-20,Men'sS,ATP,Main,Matwe Middelkoop,Robin Haase,2,SSSS;SSSS;SRRSRSSS;SSRRRSRSSS;SSRSRS;SRSSS;RSS...,7-6(4) 2-6 7-5,0,121,63,97,13,16,1,0,69,112,12,16,2,1,3,736.0,1199.0,141.0,191.0,0.668712,0.367347,0.888889,0.296296,0.714286,0.333333,0.624615,0.345823,0.775641,0.191176,0.455446,0.500000,0.646506,0.382594,0.685090,0.148883,0.271429,0.222222,0.639874,0.358384,0.790144,0.196318,0.488591,0.409366,2,35,0.641555,0.797863,163,147,27,27,7,3,2925,2909,468,476,101,16,0.428571,0.624615,WW,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLLW,0.25000,0.485179,0.051306,-0.017001,0.013853,-0.014303,0.037772,-0.028041,-0.018613,-0.018679,-0.014286,-0.055964,-0.444444,-0.090634,0.613845,0.386155,0.738220,0.261780,0.665151,0.400008,0.596844,0.371852,0.775992,0.243167,0.710179,0.243101,0.485714,0.444036,0.055556,0.409366,2,0.770407,0.915151,0.541812,0.078231,0.689496,0.884080,0.792459,0.741312,0.971302,0.891431

In [43]:
# Calculate tournament averages
matches["tourney serve win rate"] = matches["tourney serves won"] / matches["tourney serves total"]
matches["tourney return win rate"] = 1 - matches["tourney serve win rate"]
matches["tourney service game win rate"] = matches["tourney service games won"] / matches["tourney service games total"]
matches["tourney return game win rate"] = 1 - matches["tourney service game win rate"]

In [44]:
# compute sets needed to win match (to use later in row filtering for evaluation)
# Computing sets needed to win the match
matches["tourney sets to win"] = matches[["p1 sets won", "p2 sets won"]].max(axis=1)

# compute number of wins in k most recent matches
k = 5
k_most_recent = [f"p1 wins in {k} most recent matches", f"p2 wins in {k} most recent matches"]
matches[k_most_recent] = matches.apply(lambda match: number_win_in_k_most_recent_matches(match,k), axis=1, result_type="expand")

# change value of winner
matches["winner"].replace(2,0, inplace=True)
matches["p1 year serve total"].replace(0, float("nan"), inplace=True)
matches["p2 year serve total"].replace(0, float("nan"), inplace=True)
matches["p1 year return total"].replace(0, float("nan"), inplace=True)
matches["p2 year return total"].replace(0, float("nan"), inplace=True)
matches["p1 year service game total"].replace(0, float("nan"), inplace=True)
matches["p2 year service game total"].replace(0, float("nan"), inplace=True)
matches["p1 year return game total"].replace(0, float("nan"), inplace=True)
matches["p2 year return game total"].replace(0, float("nan"), inplace=True)
matches["p1 year set total"].replace(0, float("nan"), inplace=True)
matches["p2 year set total"].replace(0, float("nan"), inplace=True)
matches["p1 year tiebreak total"].replace(0, float("nan"), inplace=True)
matches["p2 year tiebreak total"].replace(0, float("nan"), inplace=True)

8222
2386

In [37]:
# create big dataset with one row for each point in each match
matches_pbp = None
for index, row in matches.iterrows():
    match = analyze_match(row)
    match_df = pd.DataFrame(
        {
            'pbp_id': match[:, 0], 
            'p1 points': match[:, 1],
            'p2 points': match[:,2],
            'p1 games': match[:,3],
            'p2 games': match[:,4],
            'p1 sets': match[:,5],
            'p2 sets': match[:,6],
            'server': match[:,7],
        }
    )
    if matches_pbp is None:
        matches_pbp = match_df
    else:
        matches_pbp = matches_pbp.append(match_df, ignore_index=True)

In [38]:
matches_pbp

,pbp_id,p1 points,p2 points,p1 games,p2 games,p1 sets,p2 sets,server
0,2231275,0,0,0,0,0,0,1
1,2231275,1,0,0,0,0,0,1
2,2231275,2,0,0,0,0,0,1
3,2231275,3,0,0,0,0,0,1
4,2231275,0,0,1,0,0,0,-1
...,...,...,...,...,...,...,...,...
1718534,8634739,1,0,5,6,1,1,1
1718535,8634739,1,1,5,6,1,1,1
1718536,8634739,1,2,5,6,1,1,1
1718537,8634739,2,2,5,6,1,1,1
1718538,8634739,2,3,5,6,1,1,1

In [39]:
all_match_data_pbp = pd.merge(matches, matches_pbp, on='pbp_id', how='left')

In [40]:
all_match_data_pbp

,pbp_id,date,tny_name,tour,draw,server1,server2,winner,pbp,score,adf_flag,wh_minutes,p1 serves won,p1 serves total,p1 service games won,p1 service games total,p1 sets won,p1 tiebreaks won,p2 serves won,p2 serves total,p2 service games won,p2 service games total,p2 sets won,p2 tiebreaks won,sets total,tourney serves won,tourney serves total,tourney service games won,tourney service games total,p1 serve win rate,p1 return win rate,p1 service game win rate,p1 return game win rate,p1 set win rate,p1 tiebreak win rate,p2 serve win rate,p2 return win rate,p2 service game win rate,p2 return game win rate,p2 set win rate,p2 tiebreak win rate,p1 opp serve win rate,p1 opp return win rate,p1 opp service game win rate,p1 opp return game win rate,p1 opp set win rate,p1 opp tiebreak win rate,p2 opp serve win rate,p2 opp return win rate,p2 opp service game win rate,p2 opp return game win rate,p2 opp set win rate,p2 opp tiebreak win rate,p1 match count,p2 match count,all player year serve win rate,all player year service game win rate,p1 year serve total,p1 year return total,p1 year service game total,p1 year return game total,p1 year set total,p1 year tiebreak total,p2 year serve total,p2 year return total,p2 year service game total,p2 year return game total,p2 year set total,p2 year tiebreak total,p1 year match win rate,p2 year match rate,p1 year match results,p2 year match results,p1 opp match win rate,p2 opp match win rate,tourney serve win rate,tourney return win rate,tourney service game win rate,tourney return game win rate,tourney sets to win,p1 points,p2 points,p1 games,p2 games,p1 sets,p2 sets,server
0,2231275,2011-07-28,ATPStu,ATP,Main,Olivier Rochus,Fabio Fognini,0,SSSS;RRRR;SSRRSS;SSRRSS;RSRSRSRR;SSRSS;RSRRSR;...,6-4 6-1,0,66,27,58,3,9,0,0,32,56,6,8,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0,0,1
1,2231275,2011-07-28,ATPStu,ATP,Main,Olivier Rochus,Fabio Fognini,0,SSSS;RRRR;SSRRSS;SSRRSS;RSRSRSRR;SSRSS;RSRRSR;...,6-4 6-1,0,66,27,58,3,9,0,0,32,56,6,8,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,0,0,0,0,0,1
2,2231275,2011-07-28,ATPStu,ATP,Main,Olivier Rochus,Fabio Fognini,0,SSSS;RRRR;SSRRSS;SSRRSS;RSRSRSRR;SSRSS;RSRRSR;...,6-4 6-1,0,66,27,58,3,9,0,0,32,56,6,8,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0,0,0,0,0,1
3,2231275,2011-07-28,ATPStu,ATP,Main,Olivier Rochus,Fabio Fognini,0,SSSS;RRRR;SSRRSS;SSRRSS;RSRSRSRR;SSRSS;RSRRSR;...,6-4 6-1,0,66,27,58,3,9,0,0,32,56,6,8,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,0,0,0,1
4,2231275,2011-07-28,ATPStu,ATP,Main,Olivier Rochus,Fabio Fognini,0,SSSS;RRRR;SSRRSS;SSRRSS;RSRSRSRR;SSRSS;RSRRSR;...,6-4 6-1,0,66,27,58,3,9,0,0,32,56,6,8,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,1,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1718534,8634739,2015-12-20,Men'sS,ATP,Main,Matwe Middelkoop,Robin Haase,0,SSSS;SSSS;SRRSRSSS;SSRRRSRSSS;SSRSRS;SRSSS;RSS...,7-6(4) 2-6 7-5,0,121,63,97,13,16,1,0,69,112,12,16,2,1,3,736.0,1199.0,141.0,191.0,0.668712,0.367347,0.888889,0.296296,0.714286,0.333333,0.624615,0.345823,0.775641,0.191176,0.455446,0.5,0.646506,0.382594,0.68509,0.148883,0.271429,0.222222,0.640142,0.358199,0.790381,0.196193,0.488911,0.412775,2,35,0.641551,0.797821,163.0,147.0,27,27,7,3,2925.0,2909.0,468,476,101,16,0.428571,0.624615,WW,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLLW,0.25,0.485708,0.613845,0.386155,0.73822,0.26178,2,1,0,5,6,1,1,1
1718535,8634739,2015-12-20,Men'sS,ATP,Main,Matwe Middelkoop,Robin Haase,0,SSSS;SSSS;SRRSRSSS;SSRRRSRSSS;SSRSRS;SRSSS;RSS...,7-6(4) 2-6 7-5,0,121,63,97,13,16,1,0,69,112,12,16,2,1,3,736.0,1199.0,141.0,191.0,0.668712,0.367347,0.888889,0.296296,0.714286,0.333333,0.624615,0.345823,0.775641,0.191176,0.455446,0.5,0.646506,0.382594,0.68509,0.148883,0.271429,0.222222,0.640142,0.358199,0.790381,0.196193,0.488911,0.412775,2,35,0.641551,0.797821,163.0,147.0,27,27,7,3,2925.0,2909.0,468,476,101,16,0.428571,0.624615,WW,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLLW,0.25,0.485708,0.613845,0.386155,0.73822,0.26178,2,1,1,5,6,1,1,1
1718536,8634739,2015-12-20,Men'sS,ATP,Main,Matwe Middelkoop,Robin Haase,0,SSSS;SSSS;SRRSRSSS;SSRRRSRSSS;SSRSRS;SRSSS;RSS...,7-6(4) 2-6 7-5,0,121,63,97,13,16,1,0,69,112,12,16,2,1,3,736.0,1199.0,141.0,191.0,0.668712,0.367347,0.888889,0.296296,0.714286,0.333333,0.624615,0.345823,0.775641,0.191176,0.455446,0.5,0.646506,0.382594,0.68509,0.148883,0.271429,0.222222,0.640142,0.358199,0.790381,0.196193,0.488911,0.412775,2,35,0.641551,0.797821,163.0,147.0,27,27,7,3,2925.0,2909.0,468,476,101,16,0.428571,0.624615,WW,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLLW,0.25,0.485708,0.613845,0.386155,0.73822,0.26178,2,1,2,5,6,1,1,1
1718537,8634739,2015-12-20,Men'sS,ATP,Main,Matwe Middelkoop,Robin Haase,0,SSSS;SSSS;SRRSRSSS;SSRRRSRSSS;SSRSRS;SRSSS;RSS...,7-6(4) 2-6 7-5,0,121,63,97,13,16,1,0,69,112,12,16,2,1,3,736.0,1199.0,141.0,191.0,0.668712,0.367347,0.888889,0.296296,0.714286,0.333333,0.624615,0.345823,0.775641,0.191176,0.455446,0.5,0.646506,0.382594,0.68509,0.148883,0.271429,0.222222,0.640142,0.358199,0.790381,0.196193,0.488911,0.412775,2,35,0.641551,0.797821,163.0,147.0,27,27,7,3,2925.0,2909.0,468,476,101,16,0.428571,0.624615,WW,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLLW,0.25,0.485708,0.613845,0.386155,0.73822,0.26178,2,2,2,5,6,1,1,1
1718538,8634739,2015-12-20,Men'sS,ATP,Main,Matwe Middelkoop,Robin Haase,0,SSSS;SSSS;SRRSRSSS;SSRRRSRSSS;SSRSRS;SRSSS;RSS...,7-6(4) 2-6 7-5,0,121,63,97,13,16,1,0,69,112,12,16,2,1,3,736.0,1199.0,141.0,191.0,0.668712,0.367347,0.888889,0.296296,0.714286,0.333333,0.624615,0.345823,0.775641,0.191176,0.455446,0.5,0.646506,0.382594,0.68509,0.148883,0.271429,0.222222,0.640142,0.358199,0.790381,0.196193,0.488911,0.412775,2,35,0.641551,0.797821,163.0,147.0,27,27,7,3,2925.0,2909.0,468,476,101,16,0.428571,0.624615,WW,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLLW,0.25,0.485708,0.613845,0.386155,0.73822,0.26178,2,2,3,5,6,1,1,1

In [41]:
all_match_data_pbp.to_csv("./data/all_match_data_pbp.csv", encoding='utf-8', index=False)

In [74]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from scipy.stats import beta
from multiprocessing import Pool, freeze_support
import math
from sklearn import linear_model
pd.set_option("display.max_columns", None)

In [4]:
all_match_data_pbp = pd.read_csv("./data/all_match_data_pbp.csv")
all_match_data_pbp["date"] = all_match_data_pbp.apply(lambda x: datetime.strptime(x["date"], '%Y-%m-%d'), axis=1)

In [5]:
#training_matches = all_match_data_pbp[all_match_data_pbp["date"] <= datetime.strptime("31 Dec 14", '%d %b %y')].copy()
#test_matches = all_match_data_pbp[all_match_data_pbp["date"] > datetime.strptime("31 Dec 14", '%d %b %y')].copy()

In [123]:
# generate feature columns
feature_cols = ["p1 serve win rate-p2 serve win rate", "p1 return win rate-p2 return win rate", "p1 opp serve win rate-p2 opp serve win rate", "p1 opp return win rate-p2 opp return win rate", "p1 year serve total-p2 year serve total", "p1 year return total-p2 year return total"]
matches[feature_cols] = matches.apply(lambda match: generate_features(match, feature_cols), axis=1, result_type="expand")

# standardize feature columns
for feature in feature_cols:
    matches[feature] = (matches[feature] - matches[feature].mean()) / matches[feature].std()

matches

,pbp_id,date,tny_name,tour,draw,server1,server2,winner,pbp,score,adf_flag,wh_minutes,p1 serves won,p1 serves total,p1 service games won,p1 service games total,p1 sets won,p1 tiebreaks won,p2 serves won,p2 serves total,p2 service games won,p2 service games total,p2 sets won,p2 tiebreaks won,sets total,tourney serves won,tourney serves total,tourney service games won,tourney service games total,p1 serve win rate,p1 return win rate,p1 service game win rate,p1 return game win rate,p1 set win rate,p1 tiebreak win rate,p2 serve win rate,p2 return win rate,p2 service game win rate,p2 return game win rate,p2 set win rate,p2 tiebreak win rate,p1 opp serve win rate,p1 opp return win rate,p1 opp service game win rate,p1 opp return game win rate,p1 opp set win rate,p1 opp tiebreak win rate,p2 opp serve win rate,p2 opp return win rate,p2 opp service game win rate,p2 opp return game win rate,p2 opp set win rate,p2 opp tiebreak win rate,p1 match count,p2 match count,all player year serve win rate,all player year service game win rate,p1 year serve total,p1 year return total,p1 year service game total,p1 year return game total,p1 year set total,p1 year tiebreak total,p2 year serve total,p2 year return total,p2 year service game total,p2 year return game total,p2 year set total,p2 year tiebreak total,p1 year match win rate,p2 year match rate,p1 year match results,p2 year match results,p1 opp match win rate,p2 opp match win rate,p1 relative serve,p2 relative serve,p1 relative return,p2 relative return,p1 relative service games,p2 relative service games,p1 relative return games,p2 relative return games,p1 relative set,p2 relative set,p1 relative tiebreak,p2 relative tiebreak,tourney serve win rate,tourney return win rate,tourney service game win rate,tourney return game win rate,p1 tourney serve adv,p1 tourney return adv,p2 tourney serve adv,p2 tourney return adv,p1 tourney service game adv,p1 tourney return game adv,p2 tourney service game adv,p2 tourney return game adv,p1 tourney set adv,p2 tourney set adv,p1 tourney tiebreak adv,p2 tourney tiebreak adv,tourney sets to win,p1 serve_tt,p1 service_game_tt,p1 set_tt,p1 tiebreak_tt,p2 serve_tt,p2 service_game_tt,p1 serve_tt no sos adjust,p2 serve_tt no sos adjust,p1 service_game_tt no sos adjust,p2 service_game_tt no sos adjust,p1 wins in 5 most recent matches,p2 wins in 5 most recent matches,p1 serve win rate-p2 serve win rate,p1 return win rate-p2 return win rate,p1 opp serve win rate-p2 opp serve win rate,p1 opp return win rate-p2 opp return win rate,p1 year serve total-p2 year serve total,p1 year return total-p2 year return total
0,2231275,2011-07-28,ATPStu,ATP,Main,Olivier Rochus,Fabio Fognini,0,SSSS;RRRR;SSRRSS;SSRRSS;RSRSRSRR;SSRSS;RSRRSR;...,6-4 6-1,0,66,27,58,3,9,0,0,32,56,6,8,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2231276,2011-07-28,ATPStu,ATP,Main,Robin Haase,Marin Cilic,0,SSRSS;RRSSRSSS;SSSS;RSSSS;SRSRSS;RSRSRSSS;RSRS...,4-6 6-4 6-3,0,141,60,102,11,15,1,0,60,92,12,14,2,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2231342,2011-07-28,Farmer,ATP,Main,Alejandro Falla,Thomaz Bellucci,0,SRRSSRSRRSRSRSRSRSRR;SSSRS;RRSRR;SRSSS;RRSSRR;...,6-0 6-1,0,42,21,55,1,7,0,0,26,37,6,6,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2229262,2011-07-28,Credit,ATP,Main,Matthias Bachinger,Julien Benneteau,0,SSSS;SSSS;RRRR;SSSS;SSSS;SRRRSSRSSRRSSRSS;SSSS...,6-4 6-4,0,57,36,59,7,10,0,0,43,58,9,10,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2228887,2011-07-28,Credit,ATP,Main,Stan Wawrinka,Peter Luczak,1,SSSS;RRSSSS;SRSSRS;RRSSSS;SSSRS;SSSRRS;RSSSS;R...,6-3 7-5,0,82,43,58,10,11,2,0,34,61,7,10,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,2,2,2,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10782,8628374,2015-12-18,Men'sAustralianOpenWildCardPlayoff,ATP,Main,James Duckworth,Marinko Matosevic,1,SSSS;RSRSRSSS;SSSS;RSSRSS;SRSRRSRR;SRRRSSRR;SS...,4-6 6-3 7-6(7) 7-6(8),0,199,103,154,18,22,3,2,93,146,17,21,1,0,4,564.0,879.0,112.0,147.0,0.635690,0.335260,0.792208,0.169935,0.477612,0.500000,0.575717,0.348559,0.685345,0.188034,0.301887,0.142857,0.625203,0.364778,0.758255,0.178435,0.414046,0.454246,0.629896,0.374191,0.766704,0.191251,0.436469,0.379723,21,19,0.641567,0.797852,2023.0,1903.0,308,306,67,20,1499.0,1423.0,232,234,53,7,0.210526,0.575717,WWLWLWLWLWWLLWLWLLLLW,LLWLLWLWLLLLLLLLLLW,0.40433,0.450411,0.000467,-0.050092,-0.039537,-0.021544,-0.029357,-0.123404,-0.071810,-0.045262,-0.108342,-0.261644,-0.045754,-0.477420,0.641638,0.358362,0.761905,0.238095,0.642106,0.318825,0.591546,0.336817,0.732548,0.166285,0.638501,0.192833,0.391658,0.238356,0.454246,0.022580,3,0.779374,0.919775,0.672908,0.972994,0.755754,0.898535,0.765322,0.729030,0.942736,0.914083,1.0,1.0,1.007709,-0.229176,-0.313467,-0.279218,0.168229,0.137549
10783,8625517,2015-12-18,Men'sS,ATP,Main,Jesse Huta Galung,Matwe Middelkoop,0,SSRSS;RSSSS;RRRSSR;RRRR;RRSRR;SSRRSRSS;SSRRSS;...,6-4 6-3,0,70,31,54,6,10,0,0,41,65,8,9,2,0,2,461.0,771.0,87.0,124.0,0.621951,0.313187,0.724138,0.100000,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.700937,0.346911,0.829079,0.221165,0.564946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0.641567,0.797852,164.0,182.0,29,30,8,2,NaN,NaN,2,2,2,2,NaN,NaN,LL,NaN,NaN,NaN,-0.031138,NaN,0.014124,NaN,-0.054697,NaN,-0.070921,NaN,-0.185054,NaN,NaN,NaN,0.597925,0.402075,0.701613,0.298387,0.566787,0.416199,NaN,NaN,0.646916,0.227466,NaN,NaN,0.314946,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10784,8625520,2015-12-18,Men'sS,ATP,Main,Tallon Griekspoor,Robin Haase,0,SSSRS;SSSRRRSS;RSRSSRRR;RSSSS;SRSRRR;SSSRS;SRS...,6-2 6-3,0,63,38,71,5,9,0,0,35,47,8,8,2,0,2,461.0,771.0,87.0,124.0,0.666667,0.520000,0.800000,0.600000,0.750000,NaN,0.622655,0.342847,0.771739,0.186296,0.444444,0.500000,0.480000,0.340000,0.320000,0.160000,0.125000,NaN,0.640685,0.360862,0.791987,0.194391,0.488360,0.409366,1,34,0.641567,0.797852,51.0,50.0,10,10,4,2,2878.0,2838.0,460,467,99,16,0.411765,0.622655,W,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLL,NaN,0.484743,0.006667,-0.016483,0.000000,-0.016467,-0.040000,-0.033870,-0.080000,-0.021718,-0.125000,-0.067195,NaN,-0.090634,0.597925,0.402075,0.701613,0.298387,0.604591,0.402075,0.581441,0.385608,0.661613,0.218387,0.667743,0.276669,0.375000,0.432805,NaN,0.409366,2,0.708982,0.836380,0.440185,NaN,0.673821,0.877942,0.793111,0.603672,0.945862,0.692683,NaN,2.0,0.700691,3.731661,-7.542864,-0.597110,-1.627912,-1.548662
10785,8632913,2015-12-19,Men'sS,ATP,Main,Jasper Smit,Matwe Middelkoop,0,SRRRR;SSSS;SRRSSS;RRRSSSSS;RSSSS;RRRSR;SRRSRSR...,6-4 6-7(6) 6-3,0,109,62,93,12,15,1,1,68,98,15,16,2,0,3,606.0,1008.0,114.0,160.0,0.675676,0.411111,0.733333,0.333333,0.600000,NaN,0.630769,0.425926,0.818182,0.416667,0.750000,NaN,0.627586,0.314379,0.624000,0.277333,0.342857,NaN,0.610092,0.394737,0.566434,0.076923,0.100000,NaN,1,1,0.641537,0.797829,74.0,90.0,15,15,5,2,65.0,54.0,11,12,4,2,1.000000,0.630769,W,W,NaN,NaN,-0.009945,0.025506,0.038697,0.036018,0.010667,-0.104895,-0.042667,-0.016900,-0.057143,-0.150000,NaN,NaN,0.601190,0.398810,0.712500,0.287500,0.591245,0.437507,0.626697,0.434827,0.723167,0.244833,0.607605,0.270600,0.442857,0.350000,NaN,NaN,2,0.652784,0.875643,0.596154,NaN,0.683382,0.826872,0.737393,0.709899,0.793814,0.900000,NaN,NaN,0.717896,-0.260695,0.714826,-2.249064,-0.107812,-0.091544
10786,8634739,2015-12-20,Men'sS,ATP,Main,Matwe Middelkoop,Robin Haase,0,SSSS;SSSS;SRRSRSSS;SSRRRSRSSS;SSRSRS;SRSSS;RSS...,7-6(4) 2-6 7-5,0,121,63,97,13,16,1,0,69,112,12,16,2,1,3,736.0,1199.0,141.0,191.0,0.668712,0.367347,0.888889,0.296296,0.714286,0.333333,0.624615,0.345823,0.775641,0.191176,0.455446,0.500000,0.646506,0.382594,0.685090,0.148883,0.271429,0.222222,0.639874,0.358384,0.790144,0.196318,0.488591,0.409366,2,35,0.641555,0.797863,163.0,147.0,27,27,7,3,2925.0,2909.0,468,476,101,16,0.428571,0.624615,WW,LLLLLLWWLWLLWWLLWWWLWLLWWLLLWLWWLLW,0.25000,0.485179,0.051306,-0.017001,0.013853,-0.014303,0.037772,-0.028041,-0.018613,-0.018679,-0.014286,-0.055964,-0.444444,-0.090634,0.613845,0.386155,0.738220,0.261780,0.665151,0.400008,0.596844,0.371852,0.775992,0.243167,0.710179,0.243101,0.485714,0.444036,0.055556,0.409366,2,0.770407,0.915151,0.541812,0.078231,0.689496,0.884080,0.792459,0.741312,0.971302,0.891431,NaN,3.0,0.702311,0.495037,0.211434,0.654358,-1.593072,-1.535246

In [80]:
training_matches = matches[matches["date"] <= datetime.strptime("31 Dec 14", '%d %b %y')].copy()
test_matches = matches[(matches["date"] > datetime.strptime("31 Dec 14", '%d %b %y'))&(matches["p1 match count"] >= 2) & (matches["p2 match count"] >= 2)].copy()                                                                                             
print(len(training_matches))
print(len(test_matches))

8222
2386

In [93]:
outcome_col = "winner"

training_matches = matches[feature_cols+[outcome_col]].dropna(subset=feature_cols)

In [94]:
training_matches

,p1 serve win rate-p2 serve win rate,p1 return win rate-p2 return win rate,p1 opp serve win rate-p2 opp serve win rate,p1 opp return win rate-p2 opp return win rate,p1 year serve total-p2 year serve total,p1 year return total-p2 year return total,winner
10,1.291256,-1.649587,3.685686,-0.495190,-0.112100,-0.115795,0
18,-3.536914,4.791103,-10.666936,2.414992,-0.121748,-0.111667,0
19,-2.329001,-2.142752,4.784671,7.076174,-0.085836,-0.098768,0
20,-2.329001,-2.142752,4.784671,7.076174,-0.085836,-0.098768,0
21,1.431689,3.198472,-7.117869,-4.645508,-0.123892,-0.112699,0
...,...,...,...,...,...,...,...
10781,-0.764246,-3.418759,4.640497,3.842069,-0.078868,-0.099284,0
10782,1.007709,-0.229176,-0.313467,-0.279218,0.168229,0.137549,1
10784,0.700691,3.731661,-7.542864,-0.597110,-1.627912,-1.548662,0
10785,0.717896,-0.260695,0.714826,-2.249064,-0.107812,-0.091544,0
10786,0.702311,0.495037,0.211434,0.654358,-1.593072,-1.535246,0

In [152]:
# initialize parameters for irls_lars
max_iterations = 100000
tol = 10**(-7)
penal = 0.01

irls_lars(training_matches, feature_cols, outcome_col, max_iterations, tol,penal)

iteration 0
gamma: [0.11245228 0.09076981 0.07444079 0.         0.         0.23007089]
current_obj: 0.6931471805600548
theta: [0 0 0 0 0 0]
theta: [0.11245228 0.09076981 0.07444079 0.         0.         0.23007089]
alpha: 1
candidate_obj: 0.643338375750302, current_obj: 0.6931471805600548
alpha_line_search: 1
obj_val: 0.643338375750302
theta: [0.11245228 0.09076981 0.07444079 0.         0.         0.23007089]

iteration 1
gamma: [0.09053197 0.06992017 0.05894363 0.         0.         0.17436772]
current_obj: 0.643338375750302
theta: [0.11245228 0.09076981 0.07444079 0.         0.         0.23007089]
theta: [0.20298425 0.16068997 0.13338443 0.         0.         0.40443861]
alpha: 1
candidate_obj: 0.6235441556131486, current_obj: 0.643338375750302
alpha_line_search: 1
obj_val: 0.6235441556131486
theta: [0.20298425 0.16068997 0.13338443 0.         0.         0.40443861]

iteration 2
gamma: [0.07093835 0.05292837 0.04543813 0.         0.         0.13042258]
current_obj: 0.6235441556131486
theta: [0.20298425 0.16068997 0.13338443 0.         0.         0.40443861]
theta: [0.2739226  0.21361835 0.17882256 0.         0.         0.53486119]
alpha: 1
candidate_obj: 0.6178251900890377, current_obj: 0.6235441556131486
alpha_line_search: 1
obj_val: 0.6178251900890377
theta: [0.2739226  0.21361835 0.17882256 0.         0.         0.53486119]

iteration 3
gamma: [0.04888443 0.03498678 0.03070146 0.         0.         0.08657261]
current_obj: 0.6178251900890377
theta: [0.2739226  0.21361835 0.17882256 0.         0.         0.53486119]
theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.6214338 ]
alpha: 1
candidate_obj: 0.6178572221562918, current_obj: 0.6178251900890377
alpha_line_search: 1
obj_val: 0.6178572221562918
theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.6214338 ]

iteration 4
gamma: [0.0292814  0.0197754  0.0178577  0.         0.         0.04973771]
current_obj: 0.6178572221562918
theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.6214338 ]
theta: [0.35208843 0.26838053 0.22738172 0.         0.         0.67117152]
alpha: 1
candidate_obj: 0.6191471279318457, current_obj: 0.6178572221562918
theta: [0.34037587 0.26047037 0.22023864 0.         0.         0.65127643]
alpha: 0.6
candidate_obj: 0.6185250141304176, current_obj: 0.6178572221562918
theta: [0.33334834 0.25572427 0.21595279 0.         0.         0.63933938]
alpha: 0.36
candidate_obj: 0.6182191330721838, current_obj: 0.6178572221562918
theta: [0.32913181 0.25287662 0.21338128 0.         0.         0.63217715]
alpha: 0.216
candidate_obj: 0.6180602936728222, current_obj: 0.6178572221562918
theta: [0.3266019  0.25116802 0.21183838 0.         0.         0.62787981]
alpha: 0.1296
candidate_obj: 0.6179739720096579, current_obj: 0.6178572221562918
theta: [0.32508395 0.25014286 0.21091264 0.         0.         0.62530141]
alpha: 0.07776
candidate_obj: 0.617925432923453, current_obj: 0.6178572221562918
theta: [0.32417318 0.24952777 0.21035719 0.         0.         0.62375437]
alpha: 0.046655999999999996
candidate_obj: 0.617897485302801, current_obj: 0.6178572221562918
theta: [0.32362672 0.24915871 0.21002392 0.         0.         0.62282614]
alpha: 0.027993599999999997
candidate_obj: 0.6178811409870466, current_obj: 0.6178572221562918
theta: [0.32329885 0.24893728 0.20982396 0.         0.         0.62226921]
alpha: 0.016796159999999997
candidate_obj: 0.617871487337068, current_obj: 0.6178572221562918
theta: [0.32310212 0.24880442 0.20970399 0.         0.         0.62193505]
alpha: 0.010077695999999999
candidate_obj: 0.6178657502500507, current_obj: 0.6178572221562918
theta: [0.32298409 0.2487247  0.209632   0.         0.         0.62173455]
alpha: 0.006046617599999999
candidate_obj: 0.6178623278445893, current_obj: 0.6178572221562918
theta: [0.32291326 0.24867687 0.20958881 0.         0.         0.62161425]
alpha: 0.0036279705599999994
candidate_obj: 0.6178602815482273, current_obj: 0.6178572221562918
theta: [0.32287077 0.24864817 0.20956289 0.         0.         0.62154207]
alpha: 0.0021767823359999995
candidate_obj: 0.617859056343754, current_obj: 0.6178572221562918
theta: [0.32284528 0.24863096 0.20954734 0.         0.         0.62149876]
alpha: 0.0013060694015999995
candidate_obj: 0.6178583221475713, current_obj: 0.6178572221562918
theta: [0.32282998 0.24862062 0.20953802 0.         0.         0.62147278]
alpha: 0.0007836416409599997
candidate_obj: 0.6178578819634234, current_obj: 0.6178572221562918
theta: [0.3228208  0.24861443 0.20953242 0.         0.         0.62145719]
alpha: 0.0004701849845759998
candidate_obj: 0.617857617973018, current_obj: 0.6178572221562918
theta: [0.32281529 0.24861071 0.20952906 0.         0.         0.62144784]
alpha: 0.00028211099074559984
candidate_obj: 0.6178574596220114, current_obj: 0.6178572221562918
theta: [0.32281199 0.24860848 0.20952704 0.         0.         0.62144222]
alpha: 0.0001692665944473599
candidate_obj: 0.6178573646269665, current_obj: 0.6178572221562918
theta: [0.32281001 0.24860714 0.20952583 0.         0.         0.62143886]
alpha: 0.00010155995666841595
candidate_obj: 0.6178573076355459, current_obj: 0.6178572221562918
theta: [0.32280882 0.24860633 0.20952511 0.         0.         0.62143683]
alpha: 6.0935974001049565e-05
candidate_obj: 0.6178572734427109, current_obj: 0.6178572221562918
theta: [0.3228081  0.24860585 0.20952467 0.         0.         0.62143562]
alpha: 3.656158440062974e-05
candidate_obj: 0.6178572529277336, current_obj: 0.6178572221562918
theta: [0.32280767 0.24860556 0.20952441 0.         0.         0.6214349 ]
alpha: 2.1936950640377843e-05
candidate_obj: 0.6178572406190095, current_obj: 0.6178572221562918
theta: [0.32280742 0.24860539 0.20952426 0.         0.         0.62143446]
alpha: 1.3162170384226705e-05
candidate_obj: 0.6178572332338679, current_obj: 0.6178572221562918
theta: [0.32280726 0.24860528 0.20952416 0.         0.         0.6214342 ]
alpha: 7.897302230536022e-06
candidate_obj: 0.617857228802818, current_obj: 0.6178572221562918
theta: [0.32280717 0.24860522 0.20952411 0.         0.         0.62143404]
alpha: 4.738381338321613e-06
candidate_obj: 0.6178572261442015, current_obj: 0.6178572221562918
theta: [0.32280711 0.24860518 0.20952407 0.         0.         0.62143395]
alpha: 2.843028802992968e-06
candidate_obj: 0.6178572245490362, current_obj: 0.6178572221562918
theta: [0.32280708 0.24860516 0.20952405 0.         0.         0.62143389]
alpha: 1.7058172817957808e-06
candidate_obj: 0.6178572235919383, current_obj: 0.6178572221562918
theta: [0.32280706 0.24860515 0.20952404 0.         0.         0.62143385]
alpha: 1.0234903690774685e-06
candidate_obj: 0.6178572230176793, current_obj: 0.6178572221562918
theta: [0.32280705 0.24860514 0.20952403 0.         0.         0.62143383]
alpha: 6.140942214464811e-07
candidate_obj: 0.6178572226731224, current_obj: 0.6178572221562918
theta: [0.32280704 0.24860514 0.20952403 0.         0.         0.62143382]
alpha: 3.6845653286788867e-07
candidate_obj: 0.6178572224663887, current_obj: 0.6178572221562918
theta: [0.32280704 0.24860513 0.20952402 0.         0.         0.62143381]
alpha: 2.210739197207332e-07
candidate_obj: 0.6178572223423505, current_obj: 0.6178572221562918
theta: [0.32280704 0.24860513 0.20952402 0.         0.         0.62143381]
alpha: 1.326443518324399e-07
candidate_obj: 0.6178572222679275, current_obj: 0.6178572221562918
theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.62143381]
alpha: 7.958661109946394e-08
candidate_obj: 0.6178572222232727, current_obj: 0.6178572221562918
theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.62143381]
alpha: 4.7751966659678364e-08
candidate_obj: 0.6178572221964812, current_obj: 0.6178572221562918
theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.62143381]
alpha: 2.8651179995807016e-08
candidate_obj: 0.6178572221804037, current_obj: 0.6178572221562918
theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.6214338 ]
alpha: 1.7190707997484207e-08
candidate_obj: 0.6178572221707608, current_obj: 0.6178572221562918
theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.6214338 ]
alpha: 1.0314424798490525e-08
candidate_obj: 0.6178572221649732, current_obj: 0.6178572221562918

theta: [0.32280703 0.24860513 0.20952402 0.         0.         0.6214338 ]
alpha: 6.1886548790943145e-09
candidate_obj: 0.6178572221615013, current_obj: 0.6178572221562918
alpha_line_search: 6.1886548790943145e-09

{'success': True,
 'obj': 0.6178572221615013,
 'theta': array([0.32280703, 0.24860513, 0.20952402, 0.        , 0.        ,
        0.6214338 ])}

In [62]:
641781.2271335392

Index(['pbp_id', 'date', 'tny_name', 'tour', 'draw', 'server1', 'server2',
       'winner', 'pbp', 'score', 'adf_flag', 'wh_minutes', 'p1 serves won',
       'p1 serves total', 'p1 service games won', 'p1 service games total',
       'p1 sets won', 'p1 tiebreaks won', 'p2 serves won', 'p2 serves total',
       'p2 service games won', 'p2 service games total', 'p2 sets won',
       'p2 tiebreaks won', 'sets total', 'tourney serves won',
       'tourney serves total', 'tourney service games won',
       'tourney service games total', 'p1 serve win rate',
       'p1 return win rate', 'p1 service game win rate',
       'p1 return game win rate', 'p1 set win rate', 'p1 tiebreak win rate',
       'p2 serve win rate', 'p2 return win rate', 'p2 service game win rate',
       'p2 return game win rate', 'p2 set win rate', 'p2 tiebreak win rate',
       'p1 opp serve win rate', 'p1 opp return win rate',
       'p1 opp service game win rate', 'p1 opp return game win rate',
       'p1 opp set win rate', 'p1 opp tiebreak win rate',
       'p2 opp serve win rate', 'p2 opp return win rate',
       'p2 opp service game win rate', 'p2 opp return game win rate',
       'p2 opp set win rate', 'p2 opp tiebreak win rate', 'p1 match count',
       'p2 match count', 'all player year serve win rate',
       'all player year service game win rate', 'p1 year serve total',
       'p1 year return total', 'p1 year service game total',
       'p1 year return game total', 'p1 year set total',
       'p1 year tiebreak total', 'p2 year serve total', 'p2 year return total',
       'p2 year service game total', 'p2 year return game total',
       'p2 year set total', 'p2 year tiebreak total', 'p1 year match win rate',
       'p2 year match rate', 'p1 year match results', 'p2 year match results',
       'p1 opp match win rate', 'p2 opp match win rate',
       'tourney serve win rate', 'tourney return win rate',
       'tourney service game win rate', 'tourney return game win rate',
       'tourney sets to win', 'p1 points', 'p2 points', 'p1 games', 'p2 games',
       'p1 sets', 'p2 sets', 'server'],
      dtype='object')

In [160]:
outcome_col = "winner"
X = training_matches[feature_cols].to_numpy()
y = training_matches[outcome_col].to_numpy()

reg = linear_model.LogisticRegression(penalty='l1', solver='liblinear')
reg.fit(X, y)
theta = reg.coef_
print(theta)

[[ 0.42092467  0.38904918  0.29037626  0.19094746 -2.00095632  2.5491015 ]]

In [161]:
compute_lloss(theta, X, y)

array([0.59865647])

In [162]:
X = training_matches[feature_cols].to_numpy()
y = training_matches[outcome_col].to_numpy()
#theta = np.array([0.32280703, 0.24860513, 0.20952402, 0        , 0        ,0.6214338 ])
compute_lloss(theta, X, y)

array([0.59865647])

In [163]:
X = test_matches[feature_cols].to_numpy()
y = test_matches[outcome_col].to_numpy()
#theta = np.array([0.32280703, 0.24860513, 0.20952402, 0.        , 0.        ,0.6214338 ])
compute_lloss(theta, X, y)

array([0.58267853])